<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="SpringBootCore"/>
    <meta name="description" content="SpringBootCore"/>
    <meta name="author" content="David Kariuki">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>SpringBoot Core</title>

    <!--CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <link rel="icon" type="image/x-icon" href="../static/assets/icons/logo/logo.png"/>

    <style></style>

    <!--Bootstrap JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>

    <!--JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Include Date Range Picker -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

    <script></script>
    <noscript>Sorry! Your browser does not support JavaScript.</noscript>

    <base href="#" target="_self">
</head>
<body>

<!--Navigation Bar-->
<div>
    <header th:insert="fragments/topbar-nav :: topbar-nav"></header>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <br>
            <h1 class="text-center">Update Project Details </h1>
            <div class="card-body">
                <form th:action="@{/springbootcore/api/{id}(id=${details.id})}" th:object="${details}" method="POST">
                    <div class="form-group">
                        <br><label for="projectName">Project name</label>
                        <input id="projectName" type="text" name="projectName" th:field="*{projectName}"
                               placeholder="Enter project Name"
                               class="form-control" required="required">
                        <br><label for="projectDescription">Project description</label>
                        <input id="projectDescription" type="text" name="projectDescription"
                               th:field="*{projectDescription}"
                               placeholder="Enter project description"
                               class="form-control" required="required">
                        <br><label for="projectLanguage">Project language</label>
                        <input id="projectLanguage" type="text" name="projectLanguage" th:field="*{projectLanguage}"
                               placeholder="Enter project language"
                               class="form-control" required="required">
                        <br><label for="projectFramework">Project framework</label>
                        <input id="projectFramework" type="text" name="projectFramework"
                               th:field="*{projectFramework}" placeholder="Enter project framework"
                               class="form-control" required="required">

                        <br><label for="dob">Project start date</label>
                        <div class="md-form md-outline input-with-post-icon datepicker"
                             inline="true">
                            <input placeholder="Select project start date" type="text" id="dob" class="form-control"
                                   required th:field="*{projectStartDate}" name="projectStartDate"
                                   onkeydown="return false">
                        </div>
                        <br><br>
                        <div class="box-footer text-center">
                            <button type="submit" class="btn btn-primary">Save Project Details</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<footer></footer>

</body>
</html>